DoAtaApi/bin/Debug/netcoreapp2.2/appsettings.Development.json
DoAtaApi/bin/Debug/netcoreapp2.2/appsettings.json
DoAtaApi/bin/Debug/netcoreapp2.2/DoAtaApi.deps.json
DoAtaApi/bin/Debug/netcoreapp2.2/DoAtaApi.dll
DoAtaApi/bin/Debug/netcoreapp2.2/DoAtaApi.pdb
DoAtaApi/bin/Debug/netcoreapp2.2/DoAtaApi.runtimeconfig.dev.json
DoAtaApi/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
DoAtaApi/obj/DoAtaApi.csproj.nuget.cache
DoAtaApi/obj/DoAtaApi.csproj.nuget.dgspec.json
DoAtaApi/obj/DoAtaApi.csproj.nuget.g.props
DoAtaApi/obj/DoAtaApi.csproj.nuget.g.targets
DoAtaApi/obj/project.assets.json
DoAtaApi/obj/Debug/netcoreapp2.2/DoAtaApi.AssemblyInfo.cs
DoAtaApi/obj/Debug/netcoreapp2.2/DoAtaApi.assets.cache
DoAtaApi/obj/Debug/netcoreapp2.2/DoAtaApi.csproj.FileListAbsolute.txt
DoAtaApi/obj/Debug/netcoreapp2.2/DoAtaApi.csprojAssemblyReference.cache
DoAtaApi/obj/Debug/netcoreapp2.2/DoAtaApi.dll
DoAtaApi/obj/Debug/netcoreapp2.2/DoAtaApi.pdb
